.ingredient
  %p
    = f.label :name, 'Food'
    = f.collection_select :food_id, Food.all, :id, :name

  %p
    = f.label :quantity, 'Quantity'
    = f.select :quantity, options_for_select(@quantities)

  %p
    = f.label :short_name, 'Unit of measurement'
    = f.collection_select :unit_of_measurement_id, UnitOfMeasurement.all, :id, :name
