.ingredient
  %p
    = f.label :name, 'Food'
    = f.collection_select :food_id, @foods, :id, :name

  %p
    = f.label :quantity, 'Quantity'
    = f.select :quantity, options_for_select(SelectOptions::QUANTITIES)

  %p
    = f.label :short_name, 'Unit of measurement'
    = f.collection_select :unit_of_measurement_id, @units_of_measurement, :id, :name

  %p.remove_ingredient
    = link_to 'Delete', '#'
