= render 'autocomplete_js'

= form_for(@meal) do |f|
  %p
    = f.label :name
    = f.text_field :name

  %p
    = f.label :instructions
    = f.text_field :instructions

  %p
    = f.label :duration
    = select_tag 'meal[duration_hours]', options_for_select(SelectOptions::HOURS)
    = select_tag 'meal[duration_minutes]', options_for_select(SelectOptions::MINUTES)

  = f.fields_for :ingredients do |builder|
    = render "ingredient_fields", :f => builder

  = f.submit 'Add Meal'
