= render 'remove_ingredients'
= render 'add_ingredients'

.center
  %h3 Create new meal
  = form_for(@meal) do |f|
    .row
      .span2
        = f.label :name
    .row
      .span2
        = f.text_field :name, :class => :meal_name, :required => true

    .row
      .span2
        = f.label :instructions
    .row
      .span4
        = f.text_area :instructions, :class => :meal_instructions, :required => true

    .row
      .span2
        = f.label :duration
    .row
      .span1
        = select_tag 'meal[duration_hours]', options_for_select(SelectOptions::HOURS, SelectOptions::DEFAULT_HOURS), :selected => '1', :class => 'number_select'
      .span1
        hours
      .span1
        = select_tag 'meal[duration_minutes]', options_for_select(SelectOptions::MINUTES, SelectOptions::DEFAULT_MINUTES), :class => 'number_select'
      .span1
        minutes

    .row
      .span2
        = f.label :ingredients
    .row
      .span2
        = label_tag :name
      .span1
        = label_tag :quantity
      .span2
        = label_tag :unit_of_measurement
    = f.fields_for :ingredients do |builder|
      = render "ingredient_fields", :f => builder

    %a.btn#add_ingredient
      %i.icon-plus-sign Add ingredient
    = javascript_tag "var ingredient_attributes = #{ ingredient_attributes(f) };"

    .row
      .span1
        = f.submit 'Create meal'

:javascript
  jQuery(document).ready(function() { 
    $('#new_meal').submit(function(){
      if($('#meal_duration_hours').val() == '0' && $('#meal_duration_minutes').val() == '0'){
        alert('You cannot cook anything in 0 minutes! Can you?');
        return false;
      }
    });
  })

