= render 'autocomplete_js'
= render 'remove_ingredients'
= render 'add_ingredients'

= form_for(@meal) do |f|
  %p
    = f.label :name
    = f.text_field :name

  %p
    = f.label :instructions
    = f.text_field :instructions

  %p
    = f.label :duration
    = select_tag 'meal[duration_hours]', options_for_select(SelectOptions::HOURS)
    = select_tag 'meal[duration_minutes]', options_for_select(SelectOptions::MINUTES)

  = f.fields_for :ingredients do |builder|
    = render "ingredient_fields", :f => builder

  = link_to 'Add ingredient', '#', :id => 'add_ingredient'
  = javascript_tag "var ingredient_attributes = #{ '"' + escape_javascript(ingredient_attributes(f)) + '"'};"

  = f.submit 'Add Meal'
