.meal
  %b= @meal.name
  %br
  %b= "#{@meal.duration} minutes"
  %br
  %b Ingredients: 
  %br
  = render @meal.ingredients
  %b Instructions:
  .instructions= @meal.instructions
  %b Compatible with diets:
  %br
  = render @meal.diets
