.meal
  %b= @meal.name
  %br
  %b= "#{@meal.duration} minutes"
  %br
  %b= "by #{@meal.user.email}"
  %br
  %b Ingredients: 
  %br
  = render @meal.ingredients
  %b Instructions:
  .instructions= @meal.instructions
  %b Compatible with diets:
  %br
  = render :partial => 'meal_diet_classifications/popular_diets', :collection => @meal.popular_classifications, :as => :meal_diet_classification
